name: .NET Core

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0
    - name: Build with dotnet
      working-directory: src/netstandard/
      run: dotnet build --configuration Release
    - name: Test with dotnet
      working-directory: src/netstandard/
      run: dotnet test --configuration Release
