name: NuGet Gallery NuGet generation

on:
  release:
    types: [published]
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    name: Update NuGet 
    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Build solution and generate NuGet package
        run: |  
          cd src\netstandard
          dotnet pack -c Release -o out  

      - name: Install NuGet client
        uses: nuget/setup-nuget@v1

      - name: Push generated package to NuGet gallery
        run: |
          cd src\netstandard          
          dotnet nuget push .\out\*.nupkg --skip-duplicate -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_TOKEN }} -n true

      - name: Add private GitHub registry to NuGet
        run: nuget sources add -name "GPR" -Source https://nuget.pkg.github.com/Code-Sharp/index.json -Username Code-Sharp -Password ${{ secrets.GITHUB_TOKEN }}

      - name: Push generated package to GitHub registry
        run: |
          cd src\netstandard          
          nuget push .\out\*.nupkg -Source "GPR" -SkipDuplicate
